In [1]:
import pandas as pd
import numpy as np

In [2]:

player_attributes = pd.read_csv('Player_Attributes.csv')
matches_epl = pd.read_csv('Matches_EPL.csv')

In [3]:

players_df = pd.read_csv('data/player_attributes_transformed.csv',dtype={"player_api_id":int,"year":int,"player_fifa_api_id":int,"overall_rating":float})

In [4]:
type(players_df['player_api_id'][0])

numpy.int32

In [5]:
#play_merge = matches_epl.merge(player_attributes, left_on = 'home_player_1',right_on='player_api_id')

In [6]:
#Function to populate result column for each match row
def get_results(home_goal,away_goal):
    
    #Win or Defeat on the basis of home team
    if home_goal > away_goal:
        return "Win"
    elif home_goal == away_goal:
        return "Draw"
    else:
        return "Defeat"

In [7]:
#Creating a column result from the final scoreline
matches_epl['result'] = matches_epl.apply(lambda x: get_results(x['home_team_goal'],x['away_team_goal']),axis=1)

In [8]:
home_players_list = ['home_player_1','home_player_2','home_player_3','home_player_4','home_player_5','home_player_6','home_player_7','home_player_8','home_player_9','home_player_10','home_player_11']
away_players_list = ['away_player_1','away_player_2','away_player_3','away_player_4','away_player_5','away_player_6','away_player_7','away_player_8','away_player_9','away_player_10','away_player_11']

In [9]:
#Changing Dtype of ids in the dataframe and handling NaNs
matches_epl[home_players_list] = matches_epl[home_players_list].fillna(-1)
matches_epl[home_players_list] = matches_epl[home_players_list].astype(int)

matches_epl[away_players_list] = matches_epl[away_players_list].fillna(-1)
matches_epl[away_players_list] = matches_epl[away_players_list].astype(int)

In [10]:
#Changing date format in dataframe from string to datetime
matches_epl['date'] = pd.to_datetime(matches_epl['date'], format="%Y-%m-%d")

In [11]:
#retrieving only important columns for the model
matches_columns = ['id','season','date','match_api_id','home_team_api_id','away_team_api_id',\
                   'home_team_goal','away_team_goal',\
                   'home_player_1','home_player_2','home_player_3','home_player_4','home_player_5','home_player_6',\
                   'home_player_7','home_player_8','home_player_9','home_player_10','home_player_11',\
                   'away_player_1','away_player_2','away_player_3','away_player_4','away_player_5','away_player_6',\
                   'away_player_7','away_player_8','away_player_9','away_player_10','away_player_11']

In [12]:
# for player in home_players_list:
#     print(player, "no. of nulls", matches_epl[player].isnull().sum())
# print('---------------')
# for player in away_players_list:
    
#     print(player, "no. of nulls", matches_epl[player].isnull().sum())

In [13]:
#Getting team squad api ids from multiple columns into one list
matches_epl['home_players_ids']= matches_epl[home_players_list].values.tolist()
matches_epl['away_players_ids']= matches_epl[away_players_list].values.tolist()

In [14]:
print(matches_epl['home_players_ids'][0])

[30726, 30362, 30620, 30865, 32569, 24148, 34944, 30373, 24154, 24157, 30829]

In [15]:
matches_epl['season'] = matches_epl['season'].apply(lambda x: x.split('/')[0])

In [16]:

# matches_apply['home_rating_list'] = matches_epl.apply(lambda df: api_id for api_id in df['home_players_ids']) 
# #if ((player_attributes_transformed['player_api_id'] == api_id) & (player_attributes_transformed['year']== df['season'])), axis=1)
# #         player_attributes_transformed[(player_attributes_transformed['player_api_id']==api_id)]['overall_rating']

In [17]:
temp_df = matches_epl.head(10)

In [18]:
temp_df[home_players_list].dtypes

home_player_1     int32
home_player_2     int32
home_player_3     int32
home_player_4     int32
home_player_5     int32
home_player_6     int32
home_player_7     int32
home_player_8     int32
home_player_9     int32
home_player_10    int32
home_player_11    int32
dtype: object

In [19]:
# player_attributes_transformed = player_attributes_transformed.set_index('player_api_id')

In [164]:
def get_rating_from_id(row):
    ratings_list = []
    print(row['home_players_ids'])
    for api_id in row['home_players_ids']:
        print(api_id)
#         print(type(api_id))
        print(type(players_df['player_api_id']))
        player_rating = players_df[(players_df['player_api_id'] == api_id) & (players_df['year']== row['season'])]['overall_rating'].values[0]
        print("id is",api_id," season is ",row['season']," rating is", player_rating)
        #         player_attributes_transformed[(player_attributes_transformed['player_api_id']==api_id)]['overall_rating']
        ratings_list.append(player_rating)
    
    return ratings_list

In [46]:
def get_ratings(row):
    print("Player is ",row)
    print('season is ',row)

In [47]:
for player in away_players_list:
    temp_df[[player,'season']].apply(get_ratings)
#.applymap(get_player_ratings)
#.apply(get_rating_from_id,axis=1)

Player is  24224
season is  0    24224
1    36373
2    30660
3    34421
4    31432
5    30622
6    30455
7    23794
8    30633
9    36286
Name: away_player_1, dtype: object
Player is  2008
season is  0    2008
1    2008
2    2008
3    2008
4    2008
5    2008
6    2008
7    2008
8    2008
9    2008
Name: season, dtype: object
Player is  25518
season is  0    25518
1    36832
2    37442
3    34987
4    46403
5    37764
6    34182
7    23369
8    37266
9    34036
Name: away_player_2, dtype: object
Player is  2008
season is  0    2008
1    2008
2    2008
3    2008
4    2008
5    2008
6    2008
7    2008
8    2008
9    2008
Name: season, dtype: object
Player is  24228
season is  0    24228
1    23115
2    30617
3    35472
4    24208
5    19020
6    38697
7    34214
8    26777
9    34418
Name: away_player_3, dtype: object
Player is  2008
season is  0    2008
1    2008
2    2008
3    2008
4    2008
5    2008
6    2008
7    2008
8    2008
9    2008
Name: season, dtype: object
Player is  30929
season is  0     30929
1     37280
2     24134
3    111865
4     23939
5     23921
6     24531
7     40695
8     23780
9     24216
Name: away_player_4, dtype: object
Player is  2008
season is  0    2008
1    2008
2    2008
3    2008
4    2008
5    2008
6    2008
7    2008
8    2008
9    2008
Name: season, dtype: object
Player is  29581
season is  0     29581
1     24728
2    414792
3     25005
4     33963
5     24136
6     40006
7     40574
8     24781
9     23953
Name: away_player_5, dtype: object
Player is  2008
season is  0    2008
1    2008
2    2008
3    2008
4    2008
5    2008
6    2008
7    2008
8    2008
9    2008
Name: season, dtype: object
Player is  38807
season is  0    38807
1    24664
2    37139
3    35327
4    47413
5    30342
6    30895
7    25668
8    24020
9    25517
Name: away_player_6, dtype: object
Player is  2008
season is  0    2008
1    2008
2    2008
3    2008
4    2008
5    2008
6    2008
7    2008
8    2008
9    2008
Name: season, dtype: object
Player is  40565
season is  0    40565
1    31088
2    30618
3    25150
4    40198
5    23889
6    30818
7    23333
8    30338
9    23988
Name: away_player_7, dtype: object
Player is  2008
season is  0    2008
1    2008
2    2008
3    2008
4    2008
5    2008
6    2008
7    2008
8    2008
9    2008
Name: season, dtype: object
Player is  30360
season is  0    30360
1    23257
2    40701
3    97988
4    42119
5    23916
6    31097
7    23253
8    24843
9    26108
Name: away_player_8, dtype: object
Player is  2008
season is  0    2008
1    2008
2    2008
3    2008
4    2008
5    2008
6    2008
7    2008
8    2008
9    2008
Name: season, dtype: object
Player is  33852
season is  0    33852
1    24171
2    24800
3    41877
4       -1
5    23922
6    23760
7    23072
8    24737
9    38820
Name: away_player_9, dtype: object
Player is  2008
season is  0    2008
1    2008
2    2008
3    2008
4    2008
5    2008
6    2008
7    2008
8    2008
9    2008
Name: season, dtype: object
Player is  34574
season is  0     34574
1     25922
2     24635
3    127857
4     33633
5     34176
6     41157
7     23288
8     34248
9     30348
Name: away_player_10, dtype: object
Player is  2008
season is  0    2008
1    2008
2    2008
3    2008
4    2008
5    2008
6    2008
7    2008
8    2008
9    2008
Name: season, dtype: object
Player is  37799
season is  0     37799
1     27267
2     30853
3     34466
4    107216
5     30646
6     23949
7     23314
8     24741
9     30830
Name: away_player_11, dtype: object
Player is  2008
season is  0    2008
1    2008
2    2008
3    2008
4    2008
5    2008
6    2008
7    2008
8    2008
9    2008
Name: season, dtype: object

In [170]:
# api_id = 30726
# season = 2008
# x = players_df[(players_df['player_api_id'] == api_id) & (players_df['year']== season)]['overall_rating'].values[0]

def fn(row):
    ratings_list = []
    print(row['home_players_ids'])
    for api_id in row['home_players_ids']:
        print(api_id)
#         print(type(api_id))
        print(type(players_df['player_api_id']))
        player_rating = players_df[(players_df['player_api_id'] == api_id) & (players_df['year']== row['season'])]['overall_rating']
        print(player_rating.values[0])
#         print("id is",api_id," season is ",row['season']," rating is", player_rating)
        #         player_attributes_transformed[(player_attributes_transformed['player_api_id']==api_id)]['overall_rating']
#         ratings_list.append(player_rating)

    return ratings_list

SyntaxError: invalid syntax (<ipython-input-170-40e7f8780978>, line 12)

In [171]:
temp_df.apply(fn,axis=1)

[30726, 30362, 30620, 30865, 32569, 24148, 34944, 30373, 24154, 24157, 30829]
30726
<class 'pandas.core.series.Series'>
[30726, 30362, 30620, 30865, 32569, 24148, 34944, 30373, 24154, 24157, 30829]
30726
<class 'pandas.core.series.Series'>

TypeError: ('invalid type comparison', 'occurred at index 0')

In [130]:
x

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,VCA,GBH,GBD,GBA,BSH,BSD,BSA,result,home_players_ids,away_players_ids
0,1729,1729,1729,2008,1,2008-08-17,489042,10260,10261,1,...,12.0,1.3,4.75,10.0,1.29,4.5,11.0,Draw,"[30726, 30362, 30620, 30865, 32569, 24148, 349...","[24224, 25518, 24228, 30929, 29581, 38807, 405..."